<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header>
		<div class = "container">
			<div class="heading clearfix">
				<img src="img/logo.png" class="logo" alt="логотип">
				<nav>
					<ul class="menu">
						<li>
							<a href="#">HOME</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Portfolio</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="titles">
				<div class="titles_first">
				Welcome!
			</div>
			<h1>
				Nice to meet you!
			</h1>
			</div>
			<a class="button" href="#">TELL ME MORE</a>
		</div>
	</header>
	<section id="services">
		<div class = "container">
			<div class="title">
				<h2>SERVICES</h2>
				<p>Рыба текст</p>
			</div>
			<div class="services clearfix">
				<div class="services_item">
					<img src="img/icon1.png" alt="Услуга">
					<h3>E-Commerce</h3>
					<p>Lorem ipsum dolor sit <br>
					 amet, consectetur <br>
					  adipiscing elit, sed <br>
					   do eiusmod tempor</p>
				</div>
				<div class="services_item">
					<img src="img/icon2.png" alt="Услуга">
					<h3>Responsive web</h3>
					<p>Lorem ipsum dolor sit <br>
					 amet, consectetur <br>
					  adipiscing elit, sed <br>
					   do eiusmod tempor</p>
				</div>
				<div class="services_item">
					<img src="img/icon3.png" alt="Услуга">
					<h3>E-Commerce</h3>
					<p>Lorem ipsum dolor sit <br>
					 amet, consectetur <br>
					  adipiscing elit, sed <br>
					   do eiusmod tempor</p>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio">
		<div class="container">
			<div class="title">
				<h2>Our portfolio</h2>
				<p>Proin iaculis purus consequat sem cure.</p>
			</div>
			<div class="works clearfix">
				<img src="img/img1.jpg" alt="Работа">
				<img src="img/img2.jpg" alt="Работа">
				<img src="img/img3.jpg" alt="Работа">
			</div>
		</div>
	</section>
	<section>
		<div class = "container">
			
		</div>
	</section>
	<footer>
		<div class = "container">
			
		</div>
	</footer>
</body>
</html>

